.tabletHeaderContainer {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    height: 6.5vh;
    align-items: center;
    font-family: "Barlow Condensed", serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.tabletHeaderContainer nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 8vw;
    padding-right: 3vw;
    align-items: center;
    background-color: #4a4b553c;
    backdrop-filter: blur(10px);
    width: 75%;
}

.tabletNavLink {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 0.5em 1em;
    position: relative;
}

.tabletNavLink.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.7vh;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.tabletHeaderContainer a {
    text-decoration: none;
    color: white;
}

.tabletLeftHeader {
    display: flex;
    align-items: center;
    padding-left: 4vw;
}