.technoContainer {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    font-family: "Barlow Condensed", serif;
}

.techContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 16vw;
}

.technoImg img {
    width: 70vh;
}

.navTechno {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-right: 5vh;
}

.techNav {
    display: flex;
}

.technoLink div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 8vh;
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
    transition: 0.3s;
}

.technoLink div:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
}

.technoLink div.active {
    background-color: white;
    color: black;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.aboutTechno {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 70%;
    margin-right: 10vh;
}

.aboutTechno h2 {
    opacity: 0.5;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: "Bellefair";
}

.aboutTechno h3 {
    font-weight: 100;
    font-size: 3rem;
    font-family: "Bellefair";
    margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {

    .techContainer {
        background-image: url(../assets/technology/background-technology-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .techNav {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .navTechno {
        margin-right: 0;
    }

    .aboutTechno {
        margin-right: 0;
    }

    .navTechno {
        flex-direction: row;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .technoImg {
        width: 100%;
    }

    .technoImg img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    .technoLink div {
        height: 5vh;
        width: 5vh;
        margin-top: 1vh;
    }

    .technoLink div.active {
        height: 5vh;
        width: 5vh;
    }

    .aboutTechno {
        width: 90%;
    }

    .aboutTechno h2 {
        font-size: 1.2rem;
        margin-top: 2vh;
    }

    .aboutTechno h3 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 1180px) {

    .technoContainer {
        background-image: url(../assets/technology/background-technology-tablet.jpg);
        height: 100vh;
        max-height: 100%;
    }

    .techContainer {
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .techNav {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .navTechno {
        flex-direction: row;
        margin-right: 0;
    }

    .technoImg {
        width: 100%;
        margin-top: 10vh;
    }

    .technoImg img {
        width: 100vw;
        height: 30vh;
    }

    .aboutTechno {
        text-align: center;
        margin-right: 0;
        margin-top: 3vh;
    }

    .technoLink div {
        height: 6vh;
        width: 6vh;
        font-size: 1.5rem;
        margin-top: 3vh;
        border: 2px solid rgba(255, 255, 255, 0.418);
    }

    .technoLink div.active {
        height: 6vh;
        width: 6vh;
    }
}