.homeContainer {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: "Barlow Condensed", serif;
}

.spaceContainer {
    margin: 17% 15% 0;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.spaceTxt {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.exploreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 13vw;
    max-width: 250px;
    max-height: 250px;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 1.5rem;
    font-family: "Bellefair";
    cursor: pointer;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.exploreBtn:hover {
    color: rgba(0, 0, 0, 0.5);
}

.hoverExplore {
    border-radius: 50%;
    padding: 4vw;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.hoverExplore:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.title {
    font-size: 6rem;
    letter-spacing: 0.5vw;
    font-family: "Bellefair";
    font-weight: 100;
}

.subTitle {
    font-size: 1.3rem;
    color: #D0D6F9;
}

@media screen and (max-width: 600px) {

    .title {
        margin: 3vh 0;
    }

    .homeContainer {
        background-image: url(../assets/home/background-home-mobile.jpg);
    }

    .spaceContainer {
        flex-direction: column;
        text-align: center;
    }

    .exploreBtn {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1180px) {


    .homeContainer {
        background-image: url(../assets/home/background-home-tablet.jpg);
        height: 100vh;
        max-width: 100%;
    }

    .title {
        font-size: 12rem;
    }

    .spaceContainer {
        flex-direction: column;
        text-align: center;
    }

    .subTitle {
        font-size: 2.5rem;
    }

    .exploreBtn {
        width: 600px;
        height: 600px;
    }
}