.destContainer {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #D0D6F9;
    font-family: "Barlow Condensed", serif;
}

.planetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 10vh 10vw 0;
}

.planetHeader {
    display: flex;
    gap: 2vw;
    font-size: 1rem;
    max-height: 26px;
}

.planetContainer h2 {
    font-size: 5rem;
    letter-spacing: 0.5vw;
    font-family: "Bellefair";
    font-weight: 100;
    max-width: 320px;
}

.planetContainer h3 {
    font-weight: 300;
    color: white;
    margin-top: 2vh;
    max-height: 100%;
}

.headerLink:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff4b;
}

.headerLink p {
    margin: 0;
    cursor: pointer;
    font-size: 0.8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.headerLink p.active {
    border-bottom: 2px solid #ffffff;
    color: white;
}

.planetTxt {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: 0.8rem;
    font-family: "Barlow", serif;
    width: 40%;
}

.planetAbout {
    padding-bottom: 2vh;
    max-height: 100px;
    width: 85%;
}

.borderPlanet {
    background-color: #ffffff60;
    height: 1px;
    width: 85%;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.planetInfo {
    display: flex;
    gap: 5vw;
    font-size: 1.2rem;
}

.planetInfo p {
    font-size: 0.8rem;
}

.planetImg img {
    width: 45vh;
    object-fit: contain;
}

@media screen and (max-width: 480px) {

    .destContainer {
        background-image: url(../assets/destination/background-destination-mobile.jpg);
    }

    .planetContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3vh 3vw 0;
        text-align: center;
    }

    .planetImg img {
        width: 20vh;
        margin-bottom: 5vh;
    }

    .planetTxt {
        width: 90%;
        margin: auto;
    }

    .planetContainer h2 {
        max-width: 100%;
        font-size: 4rem;
        margin: 2vh 0;
    }

    .planetAbout {
        width: 100%;
    }

    .planetHeader {
        margin: auto;
        gap: 10vw;
    }

    .borderPlanet {
        margin: 2vh auto;
    }

    .planetInfo {
        justify-content: center;
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 400px) {

    .borderPlanet {
        margin: 4vh auto 2vh;
    }

    .planetContainer h2 {
        margin: 1vh 0;
    }

    .destContainer h1 {
        letter-spacing: 1;
    }
}