.destContainer {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #ffffff;
    font-family: "Barlow Condensed", serif;
}

.planetContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 15vh 10vw 0;
}

.planetHeader {
    display: flex;
    gap: 2vw;
    font-size: 1rem;
    max-height: 26px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.planetContainer h2 {
    font-size: 5rem;
    letter-spacing: 0.5vw;
    font-family: "Bellefair";
    font-weight: 100;
    max-width: 320px;
}

.planetContainer h3 {
    font-weight: 300;
    color: white;
    margin-top: 2vh;
    max-height: 100%;
}

.headerLink:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff4b;
}

.headerLink p {
    margin: 0;
    cursor: pointer;
    font-size: 0.8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    color: #D0D6F9;
    font-size: 1rem;
}

.headerLink p.active {
    border-bottom: 2px solid #ffffff;
    color: white;
}

.planetTxt {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    font-size: 0.8rem;
    font-family: "Barlow", serif;
    width: 40%;
}

.planetAbout {
    padding-bottom: 2vh;
    max-height: 100px;
    width: 85%;
}

.borderPlanet {
    background-color: #ffffff60;
    height: 1px;
    width: 85%;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.planetInfo {
    display: flex;
    gap: 5vw;
    font-size: 1.2rem;
}

.planetInfo p {
    color: #D0D6F9;
    font-size: 0.8rem;
}

.planetImg img {
    width: 45vh;
    object-fit: contain;
}

@media screen and (max-width: 600px) {

    .destContainer {
        background-image: url(../assets/destination/background-destination-mobile.jpg);
        height: 100%;
    }

    .planetContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10vh 3vw 0;
        text-align: center;
        gap: 50px;
    }

    .planetImg img {
        width: 20vh;
        margin-bottom: 2vh;
    }

    .planetTxt {
        width: 90%;
        margin: auto;
    }

    .planetContainer h2 {
        max-width: 100%;
        font-size: 4rem;
        margin: 2vh 0;
        padding-bottom: 2vh;
    }

    .planetAbout {
        width: 100%;
        height: auto;
    }

    .borderPlanet {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .planetHeader {
        margin: auto;
        gap: 10vw;
    }

    .planet-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planetInfo {
        justify-content: center;
        gap: 50px;
        padding-bottom: 5vh;
        padding-top: 2vh;
    }

    .headerLink:hover {
        border-bottom: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 1180px) {

    .destContainer {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
        height: 100vh;
        max-height: 100%;
    }

    .planetContainer {
        flex-direction: column;
        align-items: center;
        margin: 6vh 3vw 0;
        text-align: center;
    }

    .planetContainer h2 {
        font-size: 7rem;
        max-width: 100%;

    }

    .planetContainer h3 {
        margin-top: 1vh;
    }

    .planetImg img {
        width: 85%;
    }

    .planetTxt h2 {
        margin: 1vh auto;
    }

    .planetHeader {
        justify-content: center;
        max-height: 30px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .headerLink p {
        font-size: 1.5rem;
    }

    .planetTxt {
        width: 100%;
    }

    .planetAbout {
        text-align: center;
        margin: auto;
    }

    .borderPlanet {
        margin: 3vh auto 2vh;
    }

    .planetInfo {
        justify-content: center;
        gap: 30vw;
        font-size: 2rem;
    }

    .planetInfo p {
        font-size: 1.3rem;
    }

    .headerLink:hover {
        border-bottom: none;
    }
}