.headerContainer {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    height: 8vh;
    align-items: center;
    padding-top: 5vh;
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.headerContainer nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 8vw;
    padding-right: 3vw;
    align-items: center;
    background-color: #4a4b553c;
    width: 50%;
    backdrop-filter: blur(10px);
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.5em 1em;
    position: relative;
}

.navLink.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.1vh;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.headerContainer a {
    text-decoration: none;
    color: white;
}

.leftHeader {
    display: flex;
    align-items: center;
    padding-left: 4vw;
    width: 55%;
}

.lineHeader {
    width: 40%;
    left: 10%;
    height: 0.1vh;
    background-color: #4a4b55;
    position: absolute;
    z-index: 1;
}