.crewContainer {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: "Barlow Condensed", serif;
}

.memberLink {
    border-radius: 50%;
    height: 1vh;
    width: 1vh;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.309);
    transition: background-color 0.2s ease-in-out;
}

.memberLink.active {
    background-color: white;
}

.memberLink:hover {
    background-color: rgba(255, 255, 255, 0.271);
}

.membersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.memberTxt {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    max-width: 37%;
    padding-top: 5vh;
}

.memberAbout {
    display: flex;
    gap: 5vh;
}

.memberTxt p {
    min-height: 144px;
}

.memberTxt h2 {
    font-size: 1.8rem;
    font-family: "Bellefair";
    font-weight: 100;
    opacity: 0.5;
    margin-bottom: 2vh;
}

.memberTxt h3 {
    font-size: 3rem;
    font-family: "Bellefair";
    font-weight: 100;
    margin-bottom: 2vh;

}

.crewNav {
    display: flex;
    gap: 2vw;
}

.crewImg img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
    max-height: 65vh;
    width: 35vw;
    object-fit: contain;
}

@media screen and (max-width: 600px) {

    .crewContainer {
        background-image: url(../assets/crew/background-crew-mobile.jpg);
    }

    .memberLink:hover {
        background-color: transparent;
    }

    .crewContainer h1 {
        margin-bottom: 1vh;
    }

    .membersContainer {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        margin: auto;
    }

    .memberTxt {
        max-width: 90%;
        gap: 0;
    }

    .memberTxt h2 {
        font-size: 1.2rem;
        margin-bottom: 2vh;
    }

    .memberTxt h3 {
        font-size: 1.6rem;
        margin-bottom: 2vh;

    }

    .crewNav {
        justify-content: center;
        gap: 6vw;
        margin-bottom: 5vh;
        margin-top: 2vh;
    }

    .crewImg img {
        max-height: 95vh;
        width: 65vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {

    .crewContainer {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
        height: 100%;
    }

    .membersContainer {
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        margin: auto;
    }

    .memberTxt {
        max-width: 90%;
        gap: 0;
    }

    .crewNav {
        margin: 1vh auto;
    }

    .crewImg {
        margin-top: 2vh;
    }

    .crewImg img {
        max-height: 50vh;
        width: 100%;
    }

    .memberTxt p {
        min-height: 200px;
    }

    .memberTxt h3 {
        font-size: 3.2rem;
        font-weight: lighter;
    }

    .memberTxt h2 {
        font-size: 2rem;
    }

    .memberLink:hover {
        background-color: rgba(255, 255, 255, 0.437);
    }
}