.mobileHeaderContainer {
    font-weight: 100;
    letter-spacing: 4px;
}

.mobileLogo img {
    object-fit: contain;
}

.mobileLogo {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
}

.navLinkMobile {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    width: 100%;
}

.mobileHeader nav {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-right: 10vw;
    text-align: left;
    padding-left: 10vw;
    padding-top: 10vh;
}

.navLinkMobile.active::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 2vh;
    width: 4px;
    background-color: white;
}

.mobileHeader img {
    margin-top: 3vh;
    position: relative;
    left: 40%;
}

.mobileHeader a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Barlow Condensed", serif;
}

.mobileHeader {
    position: fixed;
    top: 0;
    left: 40%;
    width: 60%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    height: 100vh;
    z-index: 1;
}

.mobileHeader.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.delete-icon {
    margin-right: 2vh;
    margin-top: 2vh;
}

.menu-icon {
    cursor: pointer;
}