* {
    margin: 0;
}

#txt18 {
    font-size: 1.125rem;
    font-family: "Barlow", serif;
    line-height: 2;
    color: #D0D6F9;
}

.titleSpan {
    opacity: 0.5;
    margin-right: 10px;
}

.allTitle {
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 10%;
    font-weight: 200;
    letter-spacing: 7px;
    color: white;
}